<% content_for :parax_option do %>
  <div class="parallax-container hide-on-med-and-up">
    <div class="parallax"><%= image_tag "e-learning.png"%></div>
    <span style="position: absolute; bottom: 0; font-weight: bold; font-size: 20px;color: #424242; padding: 0 10px; background-color: rgba(204, 255, 255, 0.4)"><%= @team.name%></span>
  </div>
<% end %>

<% content_for :sidebar_option do %>
  <%= render "team_sidebar" %>
<% end %>

<% content_for :bar_option do %>
  <ul class="tabs ">
    <li class="tab hide-on-med-and-up"><a href="#team_information" style="outline: none;">información</a></li>
    <li class="tab"><a id="get_team_products" class="active" href="#team_products" style="outline: none;">productos</a></li>
    <li class="tab"><a id="get_team_members" href="#team_members" style="outline: none;">miembros</a></li> 
  </ul>      
<% end %>

<div id="team_id" data-id = "<%= @team.id %>" style="display: none;"></div>
<div id="team_course_id" data-id = "<%= @team.course.id %>" style="display: none;"></div>

<div id="team_information">
  <h6>Información del curso</h6>
  <%= @team.name %>
  <%= @team.course.id %>
  <%= link_to( course_path @team.course.id ) do %>
    <span>Ir al curso</span>
  <%end%>
</div>

<div id="team_products">
  <h6>Productos del equipo</h6>
  <ul class="collection"> 
  </ul>
  <%if (is_leader? current_user.id, @team.id) %>

    <div class="fixed-action-btn click-to-toggle">
      <a class="btn-floating btn-large tooltipped indigo" data-position="left" data-delay="50" data-tooltip="Nuevo producto">
        <i class="material-icons">add</i>
      </a>
      <ul>
        <li>
          <a id="select_product_prototype" href="#modal_select_product_prototype" class="btn-floating tooltipped blue" data-position="left" data-delay="50" data-tooltip="Agregar">
            <i class="material-icons">attach_file</i>
          </a>
        </li>
        <li>
          <a href="#modal_new_product" class="btn-floating tooltipped green" data-position="left" data-delay="50" data-tooltip="Crear">
            <i class="material-icons">insert_chart</i>
          </a>
        </li>
      </ul>
    </div>
    
  <%end%>
</div>

<div id="team_members">
  <h6>Miembros del equipo</h6>
  <ul class="collection"> 
  </ul>
</div>

<!-- Modal Structure - Edit team -->
<div id="modal_edit_team" class="modal">
  <h5 style="padding-left: 20px;">Editar equipo</h5>
  <%= render "edit_form" %>
</div>

<!-- Modal Structure - New product -->
<div id="modal_new_product" class="modal">
  <h5 style="padding-left: 20px;">Nuevo producto</h5>
  <%= render "products/form" %>
</div>

<!-- Modal Structure - Select product prototipo-->
<div id="modal_select_product_prototype" class="modal">
  <h5 style="padding-left: 20px;">Seleccionar producto prototipo</h5>
  <%= render "products/select_prototype_form" %>
</div>