<% provide(:title, "Forgot your password?") %>
<h1 style="color: blue;">Send your e-mail</h1>
<%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
<!--
<form accept-charset="UTF-8" action="<%= password_resets_path %>" method="post">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input name="authenticity_token" type="hidden"
         value="<%= form_authenticity_token %>" />
  <label for="password_reset_email">Email</label>
  <input class="form-control" id="password_reset_email"
         name="password_reset[email]" type="text" />
  <input class="btn btn-primary" name="commit" type="submit"
       value="Submit" />
</form>
-->
