<%= form_for(@user, url: users_path, remote: true) do |f| %>
  <div class="modal-content">
    <h4>Edit you profile</h4>
  
    <div class="input-field ">
      <%= f.label :names %>
      <%= f.text_field :names %>
    </div>
    <div class="input-field ">
      <%= f.label :lastnames %>
      <%= f.text_field :lastnames %>
    </div>
    <div class="input-field ">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
    <div class="input-field ">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="input-field ">
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
    </div>
  </div>
  <div class="modal-footer">
    <%= f.submit "Edit", class: "btn" %>
    <a href="#!" data-turbolinks="false" class=" modal-action modal-close waves-effect waves-green btn-flat red lighten-2" >Cancel</a> 
  </div>
<% end %>