<%= form_for(@commitment, remote: true) do |f| %>
  <div class="modal-content">
    <%= hidden_field_tag 'commitment[product_id]', @commitment.product.id %> 
    <div class="input-field ">
      <%= f.label :description, "Descripción" %>
      <%= f.text_field :description %>
    </div>
    <% if is_ceo? current_user.id, @commitment.product.team.course.id %>
      <%= f.date_field(:deadline, class:"datepicker") %>
    <% end %>
  </div>
  <div class="modal-footer">
    <%= f.submit "Guardar", class: "btn" %>
    <a href="#!" data-turbolinks="false" class=" modal-action modal-close waves-effect waves-green btn-flat grey lighten-1" >Cancelar</a> 
  </div>
<% end %>