<div style="width: 100%; height: 100%; overflow: auto;">
  <div class="wrapper-image-square">
    <%= image_tag "Neuschwanstein.jpg"%>
  </div>
  <div style="padding: 20px;">
    <div style="margin-bottom: : 10px;">
      <span style="font-weight: bold; color: #424242; font-size: 28px;"><%= @course.name%></span>
    </div>
    <div class="">
      <%= @course.description %>
    </div>
  </div>
  <!--<%= link_to "EditarEditar", edit_course_path( @course.id )%>-->
  <% if is_ceo? current_user.id, @course.id %>
    <%= link_to("#modal2") do %>
      <span>Editar</span> <i class="material-icons" style="color: #85adad;">mode_edit</i>
    <% end %>
  <% end %>
</div>