<%= form_for(@course, remote: true) do |f| %>
  <div class="modal-content">
    <div class="input-field ">
      <%= f.text_field :name %>
      <%= f.label :name, "Nombre" %>
    </div>
    <div class="input-field ">
      <%= f.text_field :description %>
      <%= f.label :description, "Descripción" %>
    </div>
    <div class="switch">
      <label>
        ISA
        <%= f.check_box :strict_mode_isa%>
        <span class="lever"></span>
      </label>
    </div>
    <div class="switch">
      <label>
        Evaluar profesor
        <%= f.check_box :evaluate_teacher%>
        <span class="lever"></span>
      </label>
    </div>
    <div class="switch">
      <label>
        Codigo de confirmación
        <%= f.check_box :code_confirmed%>
        <span class="lever"></span>
      </label>
    </div>
    <div class="switch">
      <label>
        Inscripciones activas
        <%= f.check_box :inscriptions_activated%>
        <span class="lever"></span>
      </label>
    </div>
    <p>
      <%= f.radio_button :privacy, "public" %>
      <%= label_tag(:course_privacy_public, "Público") %>
    </p>
    <p>
      <%= f.radio_button :privacy, "private" %>
      <%= label_tag(:course_privacy_private, "Privado") %>
    </p>
  </div>
  <div class="modal-footer">
    <%= f.submit "Guardar", class: "btn" %>
    <a href="#!" data-turbolinks="false" class=" modal-action modal-close waves-effect waves-green btn-flat grey lighten-1" >Cancelar</a> 
  </div>
<% end %>