<% content_for :parax_option do %>
  <div class="parallax-container hide-on-med-and-up">
    <div class="parallax"><%= image_tag "Neuschwanstein.jpg"%></div>
    <span style="position: absolute; bottom: 0; font-weight: bold; font-size: 20px;color: #424242; padding: 0 10px; background-color: rgba(204, 255, 255, 0.4)"><%= @course.name%></span>
  </div>
<% end %>

<% content_for :sidebar_option do %>
  <%= render "course_sidebar" %>
<% end %>

<% content_for :bar_option do %>
  <ul class="tabs">
    <li class="tab hide-on-med-and-up"><a href="#information" style="outline: none;">información</a></li>
    <li class="tab"><a class="active" href="#teams" style="outline: none;">equipos</a></li>
    <li class="tab"><a id="get_course_members" href="#course_members" style="outline: none;">miembros</a></li>
    <li class="tab"><a id="get_course_products" href="#course_products" style="outline: none;">productos</a></li>
    <li class="tab"><a id="get_course_products_prototypes" href="#course_products_prototypes" style="outline: none;">productos prototipos</a></li>
    <!--<li class="tab"><a href="posts" style="outline: none;">muro</a></li>-->
    <li class="tab"><%= link_to "muro", course_posts_path(@course.id), target:"_self", style:"outline: none;" %></li>
  </ul>      
<% end %>

<div id="course_id" data-id = "<%= @course.id %>" style="display: none;"></div>

<div id="information" class="hide-on-med-and-up">
  <h4><%= @course.name%></h4>
  <h5>Descripción del curso</h5>
  <p><%= @course.description %></p>
  <% if is_ceo? current_user.id, @course.id %>
    <%= link_to "Editar", edit_course_path %>
  <%end%>
</div>

<div id="teams">
  <ul class="collection"> 
  </ul>
  <!-- New Team -->
  <% if is_member?(current_user.id, @course.id) && !has_team?(current_user.id, @course.id) && !is_ceo?(current_user.id, @course.id)%>
    <div id="link_new_team" class="fixed-action-btn">
      <a href="#modal_new_team" class="btn-floating btn-large tooltipped indigo"
      data-position="left" data-delay="50" data-tooltip="Nuevo equipo">
        <i class="large material-icons">add</i>
      </a>
    </div>
  <% end %>
</div>

<div id="course_members">
  <h4>Miembros del curso</h4>
  <ul class="collection">
  </ul>
</div>

<div id="course_products">
  <h4>Productos del curso</h4>
  <ul class="collection"> 
  </ul>
</div>

<div id="course_products_prototypes">
  <h4>Productos prototipos del curso</h4>
  <ul class="collection"> 
  </ul>
  <!-- New Product Prototype -->
  <% if is_ceo?(current_user.id, @course.id)%>
    <div id="link_new_product_prototype" class="fixed-action-btn">
      <a href="#modal_new_prototype" class="btn-floating btn-large tooltipped indigo"
      data-position="left" data-delay="50" data-tooltip="Nuevo prototipo">
        <i class="large material-icons">add</i>
      </a>
    </div>
  <% end %>
</div>

<!-- Modal Structure - Edit course -->
<div id="modal_edit_course" class="modal">
  <h5 style="padding-left: 20px;">Editar curso</h5>
  <%= render "edit_form" %>
</div>

<!-- Modal Structure - New team -->
<div id="modal_new_team" class="modal">
  <h5 style="padding-left: 20px;">Nuevo equipo</h5>
  <%= render "teams/form" %>
</div>

<!-- Modal Structure - New product_prototype -->
<div id="modal_new_prototype" class="modal">
  <h5 style="padding-left: 20px;">Nuevo producto prototipo</h5>
  <%= render "prototypes/form" %>
</div>

<% content_for :js do %>
  $(".sidebar").addClass('hide-sidebar');
<% end %>
