<%= form_for(@product, remote: true) do |f| %>
  <div class="modal-content">
    <div class="input-field ">
      <%= f.label :name, "Nombre" %>
      <%= f.text_field :name %>
    </div>
    <div class="input-field ">
      <%= f.label :description, "Descripción" %>
      <%= f.text_field :description %>
    </div>
    <div class="input-field ">
      <%= f.label :initials, "Iniciales" %>
      <%= f.text_field :initials %>
    </div>
  </div>
  <div class="modal-footer">
    <%= f.submit "Guardar", class: "btn" %>
    <a href="#!" data-turbolinks="false" class=" modal-action modal-close waves-effect waves-green btn-flat grey lighten-1" >Cancelar</a> 
  </div>
<% end %>