<div style="width: 100%; height: 100%; overflow: auto;">
  <div class="wrapper-image-square">
    <%= image_tag "typewriter-01.svg"%>
  </div>
  <div style="position: relative; padding: 20px;">
    <%if is_leader? current_user.id, @product.team.course.id %>
      <%= link_to( "#modal_edit_product", class:"btn-floating blue", style:"position: absolute; top: -20px; right: 5px;") do %>
        <i class="material-icons">mode_edit</i> 
      <% end %>
    <%end%>
    <div style="margin-bottom: : 10px;">
      <span style="font-weight: bold; color: #424242; font-size: 28px;"><%= @product.name%></span>
    </div>
    <div>
      <%= link_to( team_path @product.team.id ) do %>
        <span><%= @product.team.name %></span>
      <%end%>
    </div>
    <div class="">
      <%= @product.description %>
    </div>
  </div>
</div>
