<% content_for :sidebar_option do %>
  <%= render "product_sidebar" %>
<% end %>

<% content_for :bar_option do %>
  <ul class="tabs">
    <li class="tab hide-on-med-and-up"><a href="#product_information" style="outline: none;">información</a></li>
    <li class="tab"><a id="get_product_commitments" class="active" href="#product_commitments" style="outline: none;">compromisos</a></li>
    <li class="tab"><a id="get_my_tasks" class="active" href="#my_tasks" style="outline: none;">mis tareas</a></li>
  </ul>      
<% end %>

<div id="product_id" data-id = "<%= @product.id %>" style="display: none;"></div>
<div id="user_id_tasks" data-id = "<%= current_user.id %>" style="display: none;"></div>

<div id="product_information">
  informacion del producto
</div>
<div id="product_commitments">
  Aqui los compromisos del producto
  <ul class="collection">    
  </ul>

  <div class="fixed-action-btn vertical click-to-toggle">
    <a href="#modal_new_commitment" class="btn-floating btn-large tooltipped indigo" data-position="left" data-delay="50" data-tooltip="Nuevo compromiso">
      <i class="material-icons">add</i>
    </a>
  </div>
</div>

<div id="my_tasks">
  Mis tareas
  <ul class="collection">    
  </ul>
</div>

<!-- Modal Structure - Edit product -->
<div id="modal_edit_product" class="modal">
  <h5 style="padding-left: 20px;">Editar producto</h5>
  <%= render "edit_form" %>
</div>

<!-- Modal Structure - New commitment -->
<div id="modal_new_commitment" class="modal">
  <h5 style="padding-left: 20px;">Editar producto</h5>
  <%= render "commitments/form" %>
</div>