<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
  	<header>
  		<div class="navbar-fixed">
		  	<nav class="z-depth-0">
		  		<div class="nav__content">
					  <div class="nav-wrapper">
					  	<%= link_to "LOGO", root_url, class:"brand-logo white-text"%> 
              <%= yield :menu %>
					    <a href="#" data-activates="mobile-demo" class="button-collapse hide-on-med-and-up right"><i class="material-icons white-text">menu</i></a>
              <a href="#!" class="hide-on-med-and-up right"><i class="material-icons right">add_alert</i></a>
					    <ul class="right hide-on-small-only">
					    	<!-- Dropdown Trigger -->
                <li><a href="#!"><i class="material-icons right">add_alert</i></a></li>
                <li>
                  <%= link_to("#!", data:{activates:"dropdown1"}, class:"dropdown-button img-height-size") do %>
                    <div class="user-img">
                      <div class="wrapper-image">
                        <%= image_tag "Neuschwanstein.jpg"%>
                      </div>
                    </div>
                  <% end %>
                </li>
					    </ul>
					  </div>
					</div>
				</nav>
			</div>
      <%= yield :img_option %>
      <div class="wrapper-submenu" style="height: 48px; line-height: 48px;">
        <div id="submenu" class="z-depth--light" style=" width: 100%; height: 48px; background-color: white; z-index: 996;">
          <%= yield :bar_option %>
        </div>
      </div>
			<!-- Dropdown Structure -->
			<ul id="dropdown1" class="dropdown-content" style="margin-top: 64px;">
			  <li class="divider"></li>
			  <li><%= link_to "Profile", user_path(current_user)%></li>
			  <li class="divider"></li>
			  <li><%= link_to "Log out", logout_path, method: "delete" %></li>
			</ul>
  	</header>
    <div class="sidebar">
      <nav>
        <ul>
          <li>
            <%= link_to( dashboard_path ) do %>
              <i class="material-icons color-text-panal">dashboard</i><span style="color: black;">Dashboard</span></
            <% end %>
          </li>
          <li>
            <%= link_to( courses_path ) do %>
              <i class="material-icons color-text-course">apps</i><span style="color: black;">Courses</span></
            <% end %>
          </li>
          <li>
            <a href=""></a>
          </li>
          <li>
            <a href=""></a>
          </li>
        </ul>
      </nav>
    </div>
    <%= yield :option_option %>
		<main class="wrapper-main" style="padding: 15px 5% 0 5%;">  
      <%= yield %>
		</main>
    <%= yield :sidenav %>
    <!--SideNav-->
    <ul class="side-nav" id="mobile-demo">
      <li><%= link_to "Log out", logout_path, method: "delete" %></li>
    </ul>
		<script type="text/javascript">
			$( document ).ready(function(){
		    $(".button-collapse").sideNav();
        $('.modal').modal();
        $(".sidenavbar").sideNav();
        $('.parallax').parallax();

        //Sticky Header
        $(window).scroll(function(){
          var positionTop = $(".navbar-fixed").height();
          var p = $(".parallax-container").height();
          var currentPosition = $(this).scrollTop();
          var positionSidebar = $(".sidebar").offset();
          if (currentPosition > p) {
            $("#submenu").addClass("pinned");
            $("#submenu").css("top", positionTop);
          } else {
            $("#submenu").removeClass("pinned");
            $("#submenu").css("top", "auto");
          }
        });
        

        //$("a #btn-sidebar").on('click', function(){
          //$(".sidebar").toggleClass('hide-sidebar');
        //});
        $("#btn-sidebar").click(function(){
          $(".sidebar").toggleClass('hide-sidebar');
        });
        <%= yield :js %>
			});
		</script>
  </body>
</html>
