<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="navbar-fixed">
        <nav class="z-depth-0">
          <div class="nav__content">
            <div class="nav-wrapper">
              <a href="#" id="hamburger_menu" data-activates="slide-out" class="sidebarr"><i class="material-icons left">menu</i></a>
              <%= link_to "LOGO", dashboard_path, class:"brand-logo white-text"%>
              <a href="#" data-activates="mobile-demo" class="button-collapse hide-on-med-and-up right" style="margin: 0;">
                <div class="user-img">
                  <div class="wrapper-image">
                    <%= image_tag "Neuschwanstein.jpg"%>
                  </div>
                </div>
              </a>
              <a href="#!" class="hide-on-med-and-up right"><i class="material-icons right">add_alert</i></a>
              <ul class="right hide-on-small-only">
                <!-- Dropdown Trigger -->
                <li><a href="#!"><i class="material-icons right">add_alert</i></a></li>
                <li>
                  <%= link_to("#!", data:{activates:"dropdown1"}, class:"dropdown-button img-height-size") do %>
                    <div class="user-img">
                      <div class="wrapper-image">
                        <%= image_tag "Neuschwanstein.jpg"%>
                      </div>
                    </div>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <!-- Dropdown Structure -->
      <ul id="dropdown1" class="dropdown-content" style="margin-top: 64px;">
        <li class="divider"></li>
        <li><%= link_to "Perfil", user_path(current_user)%></li>
        <li class="divider"></li>
        <li><%= link_to "Cerrar sesión", logout_path, method: "delete" %></li>
      </ul>
    </header>
    <div class="sidebar hide-on-small-only">
      <%= yield :sidebar_option %>
    </div>
    <div id="parax">
      <%= yield :parax_option %>
    </div>
    <div class="wrapper-submenu">
      <div class="submenu">
        <%= yield :bar_option %>
      </div>
    </div>
    <main class="wrapper-main" style="padding: 20px;">
      <%= content_for?(:main) ? yield(:main) : yield %>
    </main>
    
    <!--SideNav mobile-->
    <ul class="side-nav" id="mobile-demo">
      <li><%= link_to "Cerrar sesión", logout_path, method: "delete" %></li>
    </ul>

    <!--SideNav-->
    <ul id="slide-out" class="side-nav">
      
      <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
      <li><a href="#!">Second Link</a></li>
      <li><div class="divider"></div></li>
      <li>
        <%= link_to( dashboard_path ) do %>
          <i class="material-icons color-text-panal">dashboard</i><span style="color: black;">Dashboard</span>
        <% end %>
      </li>
      <li>
        <%= link_to( courses_path ) do %>
          <i class="material-icons color-text-course">apps</i><span style="color: black;">Courses</span>
        <% end %>
      </li>
    </ul>
    
    <script type="text/javascript">
      $( document ).ready(function(){
        <%= yield :js %>
      });
    </script>
  </body>
</html>